<a href="https://colab.research.google.com/github/onni-Q/individual-miniproject/blob/main/Individual_Miniproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Individual Miniproject

For the individual miniproject, we have brought together exercises from week 1, 2 and 3. This assignment will count for 50% of the grade for the Methods class.

**Make a copy of this notebook to your own Drive with `File` -> `Save a copy in Drive`. Hand in the result as an `.ipynb` file (`File` -> `Download` -> `Download .ipynb`)**

# Week 1

For Week 1, you are supposed to answer a question and finish the first DataCamp class.

## Exercise 1 (10pt)
Scroll through the [Python Standard Library](https://docs.python.org/3/library/index.html). This shows you a list of  the libraries, data types, and functions that are included with Python by default.

For one *data type*, one *function*, and one *library* that we did **not** cover in the class, briefly explain their functionality and how they could be useful in a cultural data analysis project (max. 200 words).

*Your answer*

data type: datetime

*   functioality:
*   usage:


function: filter()

*   functionalty:
*   usage:


library: dataclasses

*   functionality:
*   usage:

## Exercise 2 (10pt)

Finish the course https://app.datacamp.com/learn/courses/intro-to-python-for-data-science. Then download the 'Statement of Accomplishment' and attach the PDF to this submission. The download link should show up on the front page of the course once you have finished it.

![](https://github.com/goto4711/cdai/blob/main/DataCampPDF.png?raw=true)

[week 1 certificate](https://www.datacamp.com/statement-of-accomplishment/course/8583525ee2ba98e52e1c5bec6f91bffe62172e78?raw=1)

# Week 2

For week 2, you are supposed to finish the second DataCamp class and apply descriptive analytics with pandas.

## Exercise 1 (15pt)

Finish the course https://www.datacamp.com/courses/intermediate-python. Then download the 'Statement of Accomplishment' and attach the PDF to this submission. The download link should show up on the front page of the course once you have finished it.

![](https://github.com/goto4711/cdai/blob/main/DataCampPDF-2.png?raw=true)

[week 2 certificate](https://www.datacamp.com/statement-of-accomplishment/course/16ef36e45c4cd540edb3c4a0bbf8fecf8dfdf1ff?raw=1)

## Exercise 2 (15pt)

In this exercise you demonstrate your proficiency with the Pandas library and reflect on its use for cultural data analysis.

Below you see a URL that points to a csv file with metadata on all episodes of *Friends*. The CSV has 9 columns:

*   `Year_of_prod` - Production year.
*   `Season` - Season number
*   `Episode Number` - Episode number within the season
*   `Episode_Title` - Title of the episode
*   `Duration` - Length in minutes (mostly 22 minutes, some are 30)
*   `Summary` - Brief plot description
*   `Director` - Episode director
*   `Stars` - Rating (out of 10)
*   `Votes` - Number of votes

The dataset covers 236 episodes total spanning all 10 seasons from the production years from 1994 to 2004.

Add as many code and text cells below to complete the following tasks:
1. **Data downloading**: Import `pandas` and load the Friends dataset as a DataFrame using URL provided in the cell below.
2. **Data cleaning (5pt)**: Unfortunately, the dataset contains two columns that aren't perfect. One of them has missing data, the other has numerical data in different notations that causes it to be shown as a `string`. Identify which columns these are and then clean them, i.e., replace the missing data with values that make sense and convert the different data types to a uniform numerical type. Then, in max. 100 words, describe what columns had to be cleaned, why they had to be cleaned, and explain your reasoning for converting/replacing the data.
3. **Data visualization (5pt)**: Formulate a question about the dataset. Then, manipulate the dataframe if needed, and visualize the data using `matplotlib` or `seaborn` so you can answer your question.
4. **Interpretation/argumentation (5pt)**: In max. 200 words, interpret your visualization and answer your initial question. Then, argue why you chose your visualization type for this analysis and not [another plot type](https://matplotlib.org/stable/plot_types/index.html).

In [102]:
# run this cell
import matplotlib.pyplot as plt
import seaborn as sns
import os

cda_dir = os.getenv('CDA_DIR')
if cda_dir is None: cda_dir = '.'

friends_url = "https://raw.githubusercontent.com/goto4711/cdai/refs/heads/main/friends_episodes.csv"

In [103]:
# data downloading
import pandas as pd

# Correct way to read your CSV
df = pd.read_csv('https://raw.githubusercontent.com/goto4711/cdai/refs/heads/main/friends_episodes.csv')

# Preview the data
display(df)
df.info()

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440.0
1,1994,1,2,The One with the Sonogram at the End,22,Ross finds out his ex-wife is pregnant. Rachel...,James Burrows,8.1,4888.0
2,1994,1,3,The One with the Thumb,22,Monica becomes irritated when everyone likes h...,James Burrows,8.2,4605.0
3,1994,1,4,The One with George Stephanopoulos,22,Joey and Chandler take Ross to a hockey game t...,James Burrows,8.1,4468.0
4,1994,1,5,The One with the East German Laundry Detergent,22,"Eager to spend time with Rachel, Ross pretends...",Pamela Fryman,8.5,4438.0
...,...,...,...,...,...,...,...,...,...
231,2004,10,14,The One with Princess Consuela,22,When Phoebe goes to get her name changed she r...,Gary Halvorson,8.6,2989.0
232,2004,10,15,The One Where Estelle Dies,22,Ross tries to get Rachel to go back to Ralph L...,Gary Halvorson,8.5,2771.0
233,2004,10,16,The One with Rachel's Going Away Party,22,"The gang throws Rachel a goodbye party, during...",Gary Halvorson,8.9,3141.0
234,2004,10,17,The Last One: Part 1,30,Erica gives birth to the baby that Monica and ...,Kevin Bright,9.5,6221.0
235,2004,10,18,The Last One: Part 2,30,Phoebe races Ross to the airport in a bid to s...,Kevin Bright,9.7,10381.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_of_prod    236 non-null    int64
 1   Season          236 non-null    object
 2   Episode Number  236 non-null    int64
 3   Episode_Title   236 non-null    object
 4   Duration        236 non-null    int64
 5   Summary         236 non-null    object
 6   Director        236 non-null    object
 7   Stars           236 non-null    float64
 8   Votes           224 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 16.7+ KB

In [104]:
# data cleaning
df.isna().sum().sort_values(ascending=False)

Votes             12
Year_of_prod       0
Season             0
Episode_Title      0
Episode Number     0
Duration           0
Summary            0
Director           0
Stars              0
dtype: int64

In [105]:
df['Votes'].fillna(df['Votes'].mean(), inplace=True)
df['Votes'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 236 entries, 0 to 235
Series name: Votes
Non-Null Count  Dtype
--------------  -----
236 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB

/tmp/ipython-input-3328588604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Votes'].fillna(df['Votes'].mean(), inplace=True)

In [106]:
df.dtypes.sort_values(ascending=False)

Season             object
Episode_Title      object
Summary            object
Director           object
Stars             float64
Votes             float64
Year_of_prod        int64
Episode Number      int64
Duration            int64
dtype: object

In [107]:
df['Season'] = pd.to_numeric(df['Season'], errors='coerce').astype('Int64')
df['Season'].info()
df.isna().sum().sort_values(ascending=False)

<class 'pandas.core.series.Series'>
RangeIndex: 236 entries, 0 to 235
Series name: Season
Non-Null Count  Dtype
--------------  -----
212 non-null    Int64
dtypes: Int64(1)
memory usage: 2.2 KB

Season            24
Year_of_prod       0
Episode Number     0
Episode_Title      0
Duration           0
Summary            0
Director           0
Stars              0
Votes              0
dtype: int64

In [108]:
df[df['Season'].isna()][['Season']]

    Season
24    <NA>
25    <NA>
26    <NA>
27    <NA>
28    <NA>
29    <NA>
30    <NA>
31    <NA>
32    <NA>
33    <NA>
34    <NA>
35    <NA>
36    <NA>
37    <NA>
38    <NA>
39    <NA>
40    <NA>
41    <NA>
42    <NA>
43    <NA>
44    <NA>
45    <NA>
46    <NA>
47    <NA>

In [109]:
# Convert to string and extract digits
df['Season'] = df['Season'].astype(str).str.extract(r'(\d+)')

# Convert the extracted digits to numeric (nullable integer)
df['Season'] = pd.to_numeric(df['Season'], errors='coerce').astype('Int64')

# Replace the 24 missing values (NaN) with 2
df['Season'].fillna(2, inplace=True)

# Check that no missing values remain
print(df['Season'].isna().sum())  # should output 0

# Check the column type
print(df['Season'].dtype)  # Int64

0
Int64

/tmp/ipython-input-1299781315.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Season'].fillna(2, inplace=True)

In [110]:
df.isna().sum().sort_values(ascending=False)

Year_of_prod      0
Season            0
Episode Number    0
Episode_Title     0
Duration          0
Summary           0
Director          0
Stars             0
Votes             0
dtype: int64

*write your reflection on data cleaning here*

converted 'Season' from string to integer, for temporal analysis, replaced missing data from votes with the means of votes, so it does not affect the overall result
turns out seasons is not clean, 24 inputs cannot be converted, replace all 24 'S02" wit 2, checked in the csv file

---



---

In [111]:
# data visualization

*write your interpretation/argumentation here*

## Exercise 3 (20pt)

You are a data analyst at TuneStream, a popular music streaming service. The artist 'Aura Bloom' has just released her highly anticipated new album: 'Electric Echoes'. Your task is to perform a descriptive analysis on a sample of social media posts that mention the new album to understand its initial reception and fan engagement.

You have been provided with a file named `social_media_posts.csv`.

The columns are:

*   `post_id`: A unique identifier for each post.
*   `user_id`: A unique identifier for each user.
*   `username`: The screen name of the user.
*   `timestamp`: The date and time the post was made.
*   `post_text`: The text content of the post.
*   `likes`: The number of likes the post received.
*   `retweets`: The number of times the post was shared.


Answer the following four questions using Python, primarily with the `pandas` and `matplotlib` (or `seaborn`) libraries.

First load the libraries and the `music_social_media_posts.csv`.

In [112]:
# run this cell
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

cda_dir = os.getenv('CDA_DIR')
if cda_dir is None: cda_dir = '.'

if not(os.path.exists(cda_dir + '/music_social_media_posts.csv')):
  print('Downloading music_social_media_posts.csv\n')
  !curl -L "https://raw.githubusercontent.com/goto4711/cdai/refs/heads/main/music_social_media_posts.csv" -o {cda_dir}/music_social_media_posts.csv

**Data loading and cleaning (5pt)**

1.  Load the `music_social_media_posts.csv` file into a pandas DataFrame. The file should be in your local directory after running the cell above.
2.  Display the first 5 rows and a summary of the DataFrame using `.info()` to inspect its structure and data types.
3.  The dataset has missing values. Handle them as follows:
    *   For the `post_text` column, remove any rows where the text is missing.
    *   For the `retweets` column, fill any missing values with the median retweet count.
4.  The `timestamp` column is currently an object (string). Convert it to a proper datetime data type.
5.  After cleaning, display the `.info()` of the DataFrame again to confirm your changes.

Please add all the code in the next cell or create as many new cells as you want.

Now that the data is loaded and cleaned, your task is to analyse the data. Answer the following questions with as many code cells you need. When you have printed / visualized the information that you need, write your answer/interpretation in a text cell (max. 50 words per question).

**Question 1 (5pt): Who is the most influential fan/critic based on their sum of `likes` and `retweets`?**

**Question 2 (5pt): Which day of the week saw the most discussion?**

Answer this question with the help of a **bar graph** showing the count of posts grouped per weekday.

(*Hint: pandas has a special function to convert dates to days as listed in the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.day_name.html).*)

**Question 3 (5pt): Are there any outliers of engaged-with posts based on their retweets and likes?**


Answer this question with the help of a **scatter plot**.

**Question 4 (5pt): Self-defined**

Formulate one question yourself and answer it with the help of a [chosen plot](https://matplotlib.org/stable/plot_types/index.html) that you did not use in the previous two cells.

# Week 3

For week 3, you are asked to complete a machine-learning exercise.

Run the next cell to load the packages and get the data for the exercise.

In [113]:
#Run this cell

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

from sklearn.cluster import KMeans

cda_dir = os.getenv('CDA_DIR')
if cda_dir is None: cda_dir = '.'

if not(os.path.exists(cda_dir + '/museum_visitors.csv')):
  print('Downloading museum_visitors.csv\n')
  !curl -L "https://raw.githubusercontent.com/goto4711/cdai/refs/heads/main/museum_visitors.csv" -o {cda_dir}/museum_visitors.csv

## Exercise 1 (15pt)

You are asked to replicate unsupervised clustering. One of the ERPs analyses museum visitor data. We created a toy dataset that represents typical museum visitor data. For each visitor, the data contains their age, how much time they spent in the art and in the history sections of the museum: `['Age', 'Time_in_Art', 'Time_in_History']`.

The museum's analytics team suspects that visitors fall into distinct groups. They want to use cluster analysis to identify these groups based on how they spend their time.

In the next cell, load the dataset from 'museum_visitors.csv' and call it `museum_visitors`. Print out the first 3 rows.

This dataset contains records for 300 visitors. While it appears random at first glance, it has been generated to contain distinct 'personas'.

Let's see what we can find out.

**Question 1 (5pt): Initial Exploration**
1.  **Visualize the Clusters:** Create a scatter plot with `Time_in_Art` on the x-axis and `Time_in_History` on the y-axis.
2.  **Check Distributions:** Create a histogram that shows the distribution of minutes people spent the art section. Then do the same for the history section.
3. **Interpretation:** What do you observe in the graphs? Are there indeed 'personas' to be distinguished? Write your answer in a text cell.

In [114]:
# Visualize the clusters

In [115]:
# Check distributions

*Interpretation*

**Question 2 (5pt): Perform Clustering**

1.  **K-Means**
    *   Using the `Time_in_Art` and `Time_in_History` columns, apply the K-Means clustering algorithm with `random_state=42`. Set the number of clusters (`k`) to 3.
    *   Create a new column in your dataset called `Cluster` and assign the cluster label (e.g., 0, 1, or 2) to each visitor.

2.  **Visualize the Results:** Remake the scatter plot from question 1, but this time, color the points according to their assigned `Cluster`.

3. **Interpretation**: Reflect on how K-Means assigns clusters. Does the algorithm's result match your observations from the previous task?

Please add all your code to the next cell or create as many cells as you need.

In [116]:
#K-Means

In [117]:
# Visualize the results

*Interpretation*

**Question 3 (5pt): Profile the Clusters**

1. **Profile the Clusters:** For each of the three clusters identified by your algorithm, calculate and print the average (mean) values for `Age`, `Time_in_Art`, and `Time_in_History`.

2. **Assign persona names**: Create a new DataFrame column where, based on the cluster number, you assign each visitor a persona name (e.g. "History Buff", ...).

3. **Interpretation**: What can you say about the persona's? Does their age relate to their cluster?

Please add all your code to the next cell or create as many cells as you need.

In [118]:
# Profile the clusters

In [119]:
# Assign persona names

*Interpretation*

## Exercise 2 (15pt)

**Critical reflection**

In the exercise above you have used K-Means to profile museum visitors. In ~300 words, critically reflect on this method. Make sure to list technical and ethical complications of this technique.

# Question for Research Masters students

This analysis question counts for 20% of the overall mark. The rest of the marks are adjusted accordingly.

**Your Task:**

Descriptive analytics is increasingly used in humanitarian aid to assess the scale of a disaster and allocate resources. Data sources like social media activity, satellite imagery, and mobile phone usage can provide a quick overview of an emergency situation. However, a critical challenge in using such data is the 'digital divide' or the gap between those with access to modern information and communications technology and those with little to no access.

Critically analyze the use of descriptive analytics in the humanitarian response to a major natural disaster of your choice within the last decade (e.g., Hurricane Maria in Puerto Rico in 2017, or the 2023 Turkey-Syria Earthquake). In your analysis, you should:

1.  **Identify and describe the types of data and descriptive analytics techniques** that were used to understand the scope and impact of the disaster in its immediate aftermath.
2.  **Analyze the potential for the "digital divide" to create a skewed and incomplete picture of the disaster's impact.** Discuss which populations might be underrepresented or entirely invisible in these datasets and explain why.
3.  **Discuss the potential real-world consequences of these data gaps.** How might a skewed descriptive analysis lead to an inequitable or inefficient distribution of humanitarian aid?
4.  **Propose a more inclusive descriptive analytics approach for disaster response.** What additional or alternative data sources and methods could humanitarian organizations use to better account for vulnerable and less-connected populations, ensuring a more accurate and equitable understanding of the needs on the ground?

Your analysis must be well-structured, and your arguments should be supported by evidence from credible online sources.

Please use no more than 500 words.